version: "3.8"

services:
  kafka-ui:
    image: provectuslabs/kafka-ui
    ports:
      - "28080:8080"
    container_name: kafka-ui
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    networks:
      - app-network
    depends_on:
      - kafka

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"     # For containers (internal)
      - "29092:29092"   # For host machine
      - "9093:9093"     # Controller
    networks:
      - app-network
    environment:
      # KRaft mode config
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_NODE_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

      # Listeners & advertised addresses
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:29092

      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # Other Kafka requirements
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_LOG_DIRS=/tmp/kraft-combined-logs
      - CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

  emails-app:
    build: .
    container_name: emails-app
    ports:
      - "8070:8070"
      #    environment: # âŒ Note -> This won't work if you set bootstrap servers to localhost:9092 in the dev
      #      #profile
      #      # because locally we connect to kafka on localhost:9092 but when the
      #      # App is dockerized it'll try to access kafka at kafka:9092. So don't use this. Create .env
      #      # with your values
      #      # And use it. Set kafka bootstrap servers to kafka:9092
      #      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      - kafka
    working_dir: /app

networks:
  app-network:
    driver: bridge
