app:
  security:
    enabled: true
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_LUBoPfUej
          jwk-set-uri: https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_LUBoPfUej/.well-known/jwks.json
      client:
        registration:
          cognito:
            client-id: ${COGNITO_CLIENT_ID:44h6fpgh88996qset0a9ivagm3}
            client-secret: ${COGNITO_CLIENT_SECRET:your-client-secret}
            authorization-grant-type: client_credentials
            scope: ${COGNITO_SCOPE:default-m2m-resource-server-10ms1p/read}
        provider:
          cognito:
            token-uri: https://eu-north-1lubopfuej.auth.eu-north-1.amazoncognito.com/oauth2/token

  application:
    name: email-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${JAVA.MAIL.SENDER.EMAIL:no-reply@example.com}
    password: ${JAVA.MAIL.SENDER.APP.PASSWORD:dummy-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  h2:
    console:
      enabled: ${H2.CONSOLE.ENABLED:true}
      path: ${H2.CONSOLE.PATH:/h2-console}
  sql:
    init:
      platform: h2

  datasource:
    username: ${SPRING.DATASOURCE.USERNAME:root}
    password: ${SPRING.DATASOURCE.PASSWORD:root}
    url: ${SPRING.DATASOURCE.URL:jdbc:h2:mem:testdb}

  jpa:
    database-platform: ${JPA.DATABASE.PLATFORM:org.hibernate.dialect.H2Dialect} # H2 dialect for JPA
    hibernate:
      ddl-auto: ${SPRING.JPA.HIBERNATE.DDL-AUTO:update} # Automatically creates and updates tables based on entities
    show-sql: ${SPRING.JPA.SHOW-SQL:false}
    properties:
      hibernate:
        format_sql: ${SPRING.JPA.PROPERTIES.HIBERNATE.FORMAT_SQL:false}

  kafka:
    enabled: ${KAFKA.ENABLED:false}
    bootstrap-servers: ${KAFKA.BOOTSTRAP.SERVERS:localhost:9092}
    groups:
      email-group: ${KAFKA.GROUPS.EMAILS:defaultEmailGroup}
      otp-group: ${KAFKA.GROUPS.OTP:defaultOtpGroup}

    topics:
      consume:
        email-topic: ${KAFKA.TOPICS.CONSUME.EMAILS:emails}
      produce:
        otp-topic: ${KAFKA.TOPICS.PRODUCE.OTP:generated-otp}

# Email Job Scheduler Configuration
email-job:
  cron: ${EMAIL.JOB.CRON:0 */5 * * * *}  # Default: runs every 5 minutes

