server:
  port: 5000
app:
  security:
    enabled: ${SECURITY_ENABLED:false}
  email:
    admin-recipients:
      - ${APP_EMAIL_ADMIN_1:abdulmueedshahbaz@gmail.com}
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_LUBoPfUej
          jwk-set-uri: https://cognito-idp.eu-north-1.amazonaws.com/eu-north-1_LUBoPfUej/.well-known/jwks.json
      client:
        registration:
          cognito:
            client-id: ${COGNITO_CLIENT_ID:44213p1236q213ivagm3}
            client-secret: ${COGNITO_CLIENT_SECRET:your-client-secret}
            authorization-grant-type: client_credentials
            scope: ${COGNITO_SCOPE:default-m2m-resource-server-10ms1p/read}
        provider:
          cognito:
            token-uri: https://eu-north-1lubopfuej.auth.eu-north-1.amazoncognito.com/oauth2/token

  application:
    name: email-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${JAVA_MAIL_SENDER_EMAIL:no-reply@example.com}
    password: ${JAVA_MAIL_SENDER_APP_PASSWORD:dummy-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED:true}
      path: ${H2_CONSOLE_PATH:/h2-console}
  sql:
    init:
      platform: h2

  datasource:
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    url: ${SPRING_DATASOURCE_URL:jdbc:h2:mem:testdb}

  jpa:
    database-platform: ${JPA_DATABASE_PLATFORM:org.hibernate.dialect.H2Dialect} # H2 dialect for JPA
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update} # Automatically creates and updates tables based on entities
    show-sql: ${SPRING_JPA_SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: ${SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL:false}

  kafka:
    enabled: ${KAFKA_ENABLED:false}
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    groups:
      email-group: ${KAFKA_GROUPS_EMAILS:defaultEmailGroup}
      otp-group: ${KAFKA_GROUPS_OTP:defaultOtpGroup}

    topics:
      consume:
        email-topic: ${KAFKA_TOPICS_CONSUME_EMAILS:emails}
      produce:
        otp-topic: ${KAFKA_TOPICS_PRODUCE_OTP:generated-otp}

# Email Job Scheduler Configuration
email-job:
  cron: ${EMAIL_JOB_CRON:0 */5 * * * *}  # Default: runs every 5 minutes

